body {
    background-image: url('/img/nature.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: 50% 60%;  */
    background-size: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868f9b;
  }
  
  #particles-js
  {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #262626; */
  }
  
  #page-container {
  position: relative;
  min-height: 100vh;
  }
  
  #content-wrap {
  padding-bottom: 250px;    /* Footer height */
  }
  
  #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;            /* Footer height */
  }
  
  /* .sm-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  } */
  
  .bg-dark {
    background-color: #1C1D21;
  }
  
  
  .sm-padding {
  padding-top: 60px;
  padding-bottom: 60px;
  }
  
  .bg-dark {
  background-color: #1C1D21;
  }
  
  .footer-logo {
  text-align: center;
  margin-bottom: 40px;
  }
  
  .footer-logo>a>img {
  max-height: 80px;
  }
  
  .footer-follow {
  text-align: center;
  margin-bottom: 20px;
  }
  
  .footer-follow li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 13px;
  }
  
  .footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #6195FF;
  color:#FFF;
  }
  
  .footer-copyright p {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  }
  
  .navbar {
    height: 67px;
    background-color: white;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
  }
  
  .navbar-default .navbar-brand {
    margin-top: 10px;
    color: rgb(0, 0, 0);
  }
  .navbar-default .navbar-brand:hover {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 225, 255);
  }
  .navbar-default .navbar-nav > li > a {
    color: rgb(0, 0, 0);
    margin: 10px 5px 5px 5px;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 255, 98);
  }
  .navbar-default .navbar-nav > li > a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: rgb(0, 0, 0);
  }
  .navbar-default .navbar-toggle {
    border-color: rgb(0, 255, 136);
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgb(10, 10, 10);
  }
  .navbar-default .navbar-toggle .icon-bar {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
  }
  .navbar-default .navbar-collapse.collapse.in ul {
    background-color: rgb(0, 0, 0);
  }
  
  /* Solid class attached on scroll past first section */
  .navbar.solid {
    background-color: rgb(255, 255, 255);
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
  }
  .navbar.solid .navbar-brand {
    color: rgb(0, 0, 0);
    transition: color 1s ease 0s;
  }
  .navbar.solid .navbar-nav > li > a {
    color: rgb(0, 0, 0);
    transition: color 1s ease 0s;
  }.navbar-left >li > img {
    max-height: 50px;
    display: block;
    padding-top: 20px;
  }
  * {
    box-sizing: border-box;
    transition: all 0.18s ease-out;
  }
  ul.float {
    position: fixed;
    top: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    z-index: 10;
  }
  ul.float li {
    position: relative;
    display: inline-flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 8px 0;
    color: #222;
    cursor: pointer;
    height: 36px;
    overflow: hidden;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
  }
  ul.float li i.fa {
    font-size: 1.2rem;
    width: 36px;
    text-align: center;
    position: relative;
    top: 0.04em;
  }
  ul.float li i.fa.fa-instagram {
    font-size: 1.3em;
  }
  ul.float li i.fa.fa-twitter {
    font-size: 1.3em;
  }
  ul.float li i.fa.fa-twitch {
    font-size: 1.3em;
  }
  ul.float li i.fa.fa-linkedin {
    font-size: 1.1em;
  }
  ul.float li i.fa.fa-github {
    font-size: 1.45em;
  }
  ul.float li span {
    font-size: 16px;
    transform: translate(0, -50%);
    top: 50%;
    left: 36px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  ul.float li:hover {
    background: #fff;
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.1);
  }
  ul.float li:hover span {
    visibility: visible;
    opacity: 1;
    transition-delay: 90ms;
  }
  ul.float li:hover i {
    opacity: 1;
  }
  ul.float li:hover i.fa-instagram {
    color: #ea4c89;
  }
  ul.float li:hover i.fa-twitter {
    color: #00aced;
  }
  ul.float li:hover i.fa-twitch {
    color: #6d17cf;
  }
  ul.float li:hover i.fa-github {
    color: #696969;
  }
  ul.float li:hover i.fa-linkedin {
    color: #0077b5;
  }
  ul.float {
    left: 7%;
  }
  ul.float li {
    width: 36px;
    border-radius: 22px;
  }
  ul.float li:hover {
    width: 112px;
  }
  ul.wall {
    align-items: flex-end;
    right: 0;
  }
  ul.wall li {
    width: 40px;
    border-radius: 22px 0 0 22px;
  }
  ul.wall li:hover {
    width: 110px;
  }
  
  .float span {
    color: inherit; 
    text-decoration:none;   
  }
  
  .float a:hover {
    color: inherit; 
    text-decoration:none; 
    cursor:pointer;  
  }

  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  figure {
    margin: 0;
  }
  
  .absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  

  
body {
    background: #F9F8F8;
  }
  
  header.header {
    position: absolute;
    top: 14%;
    left: 31%;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header.header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 8rem;
    color: #222222;
    left: 30%;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .glitch-window {
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    color: #222222;
    text-shadow: 2px 0 #F9F8F8, -1px 0 yellow, -2px 0 green;
    overflow: hidden;
    animation: crt-me 2500ms infinite linear alternate-reverse;
  }
  
  @-webkit-keyframes crt-me {
    0% {
      clip: rect(31px, 9999px, 94px, 0);
    }
    10% {
      clip: rect(112px, 9999px, 76px, 0);
    }
    20% {
      clip: rect(85px, 9999px, 77px, 0);
    }
    30% {
      clip: rect(27px, 9999px, 97px, 0);
    }
    40% {
      clip: rect(64px, 9999px, 98px, 0);
    }
    50% {
      clip: rect(61px, 9999px, 85px, 0);
    }
    60% {
      clip: rect(99px, 9999px, 114px, 0);
    }
    70% {
      clip: rect(34px, 9999px, 115px, 0);
    }
    80% {
      clip: rect(98px, 9999px, 129px, 0);
    }
    90% {
      clip: rect(43px, 9999px, 96px, 0);
    }
    100% {
      clip: rect(82px, 9999px, 64px, 0);
    }
  }
  
  @keyframes crt-me {
    0% {
      clip: rect(31px, 9999px, 94px, 0);
    }
    10% {
      clip: rect(112px, 9999px, 76px, 0);
    }
    20% {
      clip: rect(85px, 9999px, 77px, 0);
    }
    30% {
      clip: rect(27px, 9999px, 97px, 0);
    }
    40% {
      clip: rect(64px, 9999px, 98px, 0);
    }
    50% {
      clip: rect(61px, 9999px, 85px, 0);
    }
    60% {
      clip: rect(99px, 9999px, 114px, 0);
    }
    70% {
      clip: rect(34px, 9999px, 115px, 0);
    }
    80% {
      clip: rect(98px, 9999px, 129px, 0);
    }
    90% {
      clip: rect(43px, 9999px, 96px, 0);
    }
    100% {
      clip: rect(82px, 9999px, 64px, 0);
    }
  }

.wrapper {
    width: 500px;
    position: relative;
    margin: 10px auto;
    padding-top: 11%;
  }
  .wrapper .screenshot {
    width: auto;
    height: 300px;
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    -moz-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    -o-transform: skew(30deg, 0deg);
    -ms-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .wrapper .screenshot:nth-child(1) {
    margin-top: 160px;
  }
  .wrapper .screenshot:nth-child(2) {
    margin-top: 80px;
  }
  .wrapper:hover .screenshot {
    margin-top: 0px;
    -moz-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  .wrapper:hover .screenshot:nth-child(1) {
    margin-left: -200px;
  }
  .wrapper:hover .screenshot:nth-child(2) {
    margin-left: 34px;
  }
  .wrapper:hover .screenshot:nth-child(3) {
    margin-left: 350px;
  }