body {
    background: #F9F8F8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: 50% 60%;  */
    background-size: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868f9b;
  }
  
  #particles-js
  {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #262626; */
  }
  
  #page-container {
  position: relative;
  min-height: 100vh;
  }
  
  #content-wrap {
  padding-bottom: 250px;    /* Footer height */
  }
  
  #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;            /* Footer height */
  }
  
  /* .sm-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  } */
  
  .bg-dark {
    background-color: #1C1D21;
  }
  
  
  .sm-padding {
  padding-top: 60px;
  padding-bottom: 60px;
  }
  
  .bg-dark {
  background-color: #1C1D21;
  }
  
  .footer-logo {
  text-align: center;
  margin-bottom: 40px;
  }
  
  .footer-logo>a>img {
  max-height: 80px;
  }
  
  .footer-follow {
  text-align: center;
  margin-bottom: 20px;
  }
  
  .footer-follow li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 13px;
  }
  
  .footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #6195FF;
  color:#FFF;
  }
  
  .footer-copyright p {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  }
  
  .navbar {
    height: 67px;
    background-color: white;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
  }
  
  .navbar-default .navbar-brand {
    margin-top: 10px;
    color: rgb(0, 0, 0);
  }
  .navbar-default .navbar-brand:hover {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 225, 255);
  }
  .navbar-default .navbar-nav > li > a {
    color: rgb(0, 0, 0);
    margin: 10px 5px 5px 5px;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 255, 98);
  }
  .navbar-default .navbar-nav > li > a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: rgb(0, 0, 0);
  }
  .navbar-default .navbar-toggle {
    border-color: rgb(0, 255, 136);
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgb(10, 10, 10);
  }
  .navbar-default .navbar-toggle .icon-bar {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
  }
  .navbar-default .navbar-collapse.collapse.in ul {
    background-color: rgb(0, 0, 0);
  }
  
  /* Solid class attached on scroll past first section */
  .navbar.solid {
    background-color: rgb(255, 255, 255);
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
  }
  .navbar.solid .navbar-brand {
    color: rgb(0, 0, 0);
    transition: color 1s ease 0s;
  }
  .navbar.solid .navbar-nav > li > a {
    color: rgb(0, 0, 0);
    transition: color 1s ease 0s;
  }.navbar-left >li > img {
    max-height: 50px;
    display: block;
    padding-top: 20px;
  }
  * {
    box-sizing: border-box;
    transition: all 0.18s ease-out;
  }
  ul.float {
    position: fixed;
    top: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    z-index: 10;
  }
  ul.float li {
    position: relative;
    display: inline-flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 8px 0;
    color: #222;
    cursor: pointer;
    height: 36px;
    overflow: hidden;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
  }
  ul.float li i.fa {
    font-size: 1.2rem;
    width: 36px;
    text-align: center;
    position: relative;
    top: 0.04em;
  }
  ul.float li i.fa.fa-instagram {
    font-size: 1.3em;
  }
  ul.float li i.fa.fa-twitter {
    font-size: 1.3em;
  }
  ul.float li i.fa.fa-twitch {
    font-size: 1.3em;
  }
  ul.float li i.fa.fa-linkedin {
    font-size: 1.1em;
  }
  ul.float li i.fa.fa-github {
    font-size: 1.45em;
  }
  ul.float li span {
    font-size: 16px;
    transform: translate(0, -50%);
    top: 50%;
    left: 36px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  ul.float li:hover {
    background: #fff;
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.1);
  }
  ul.float li:hover span {
    visibility: visible;
    opacity: 1;
    transition-delay: 90ms;
  }
  ul.float li:hover i {
    opacity: 1;
  }
  ul.float li:hover i.fa-instagram {
    color: #ea4c89;
  }
  ul.float li:hover i.fa-twitter {
    color: #00aced;
  }
  ul.float li:hover i.fa-twitch {
    color: #6d17cf;
  }
  ul.float li:hover i.fa-github {
    color: #696969;
  }
  ul.float li:hover i.fa-linkedin {
    color: #0077b5;
  }
  ul.float {
    left: 7%;
  }
  ul.float li {
    width: 36px;
    border-radius: 22px;
  }
  ul.float li:hover {
    width: 112px;
  }
  ul.wall {
    align-items: flex-end;
    right: 0;
  }
  ul.wall li {
    width: 40px;
    border-radius: 22px 0 0 22px;
  }
  ul.wall li:hover {
    width: 110px;
  }
  
  .float span {
    color: inherit; 
    text-decoration:none;   
  }
  
  .float a:hover {
    color: inherit; 
    text-decoration:none; 
    cursor:pointer;  
  }

  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  figure {
    margin: 0;
  }
  
  .absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .popout {
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 80px;
    padding-left: 8em;
    padding-top: 1em;
  }
  @-webkit-keyframes ani {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 lightblue;
      color: black;
    }
    30% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 lightblue;
      color: black;
    }
    70% {
      -webkit-transform: translate3d(0.08em, -0.08em, 0);
              transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em lightblue;
      color: black;
    }
    100% {
      -webkit-transform: translate3d(0.08em, -0.08em, 0);
              transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em lightblue;
      color: black;
    }
  }
  @keyframes ani {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 lightblue;
      color: black;
    }
    30% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 lightblue;
      color: black;
    }
    70% {
      -webkit-transform: translate3d(0.08em, -0.08em, 0);
              transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em lightblue;
      color: black;
    }
    100% {
      -webkit-transform: translate3d(0.08em, -0.08em, 0);
              transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em lightblue;
      color: black;
    }
  }
  .popout span {
    position: relative;
    display: inline-block;
    -webkit-animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
            animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
  }
  .popout span:nth-last-child(1n) {
    -webkit-animation-delay: -0.1666666667s;
            animation-delay: -0.1666666667s;
  }
  .popout span:nth-last-child(2n) {
    -webkit-animation-delay: -0.3333333333s;
            animation-delay: -0.3333333333s;
  }
  .popout span:nth-last-child(3n) {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  /* -------------------------------------------------------------------------- *\
 * .c-tile-list
 * -------------------------------------------------------------------------- */

/**
 * 1. Reset default list styles
 * 2. Flexbox used for a grid-like layout for the tiles.
 */
.c-tile-list {
    list-style: none; /* 1 */
    margin: 0; /* 1 */
    padding-left: 22%; /* 1 */
    display: flex; /* 2 */
    flex-wrap: wrap; /* 2 */
  }
  
  /**
   * 1. Flexbox used for equal-height tiles on a same line.
   * 2. Make sure a time never looks distorded.
   * 3. Spacing between tiles.
   */
  .c-tile-list__item {
    display: flex; /* 1 */
    flex-direction: column; /* 1 */
    flex: 0 0 300px; /* 2 */
    margin: 10px; /* 3 */
  }
  
  
  /* -------------------------------------------------------------------------- *\
   * .c-article-tile
   * -------------------------------------------------------------------------- */
  
  /**
   * 1. Make it possible to bottom align the footer in a tile that has a minimum
   *    height.
   * 2. Make sure the tile spread across the full height of the parent if inside
   *    a flex container.
   */
  .c-article-tile {
    display: flex; /* 1 */
    flex-direction: column; /* 1 */
    flex: 1 0 auto; /* 2 */
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
  }
  
  .c-article-tile a {
    color: inherit;
    text-decoration: none;
  }
  
  .c-article-tile__header,
  .c-article-tile__body,
  .c-article-tile__footer {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .c-article-tile__header,
  .c-article-tile__footer {
    font-size: 80%;
  }
  
  .c-article-tile__header {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
  }
  
  .c-article-tile__category {
    font-weight: bold;
  }
  
  /**
   * 1. Right align the comment count container in the header.
   */
  .c-article-tile__comment-count {
    margin-left: auto; /* 1 */
  }
  
  .c-article-tile__body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .c-article-tile__title {
    margin: 0;
    color: #333;
    font-size: 150%;
  }
  
  /**
   * 1. Make the title link inherit the color only when not active / hovered,
   *    effectively making it themed when active / hovered.
   */
  .c-article-tile__title:not(:hover):not(:active) > a {
    color: inherit; /* 1 */
  }
  
  /**
   * 1. Bottom align the footer in the tile.
   * 2. Prevent any content from the footer from wrapping, effectively forcing it
   *    on a single line at all time.
   */
  .c-article-tile__footer {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: auto; /* 1 */
    white-space: nowrap; /* 2 */
    color: #949494;
  }
  
  /**
   * 1. Prevent the author and the date from overlapping in case they both don’t
   *    fit on the line; add an ellipsis to the author name.
   * 2. Visually no effect when both the author and the date fit; however make
   *    sure they are slightly spaced from each other if they meet on the line.
   */
  .c-article-tile__author {
    text-overflow: ellipsis; /* 1 */
    overflow: hidden; /* 1 */
    margin-right: 5px; /* 2 */
  }
  
  /**
   * 1. Right align the date container in the footer.
   */
  .c-article-tile__date {
    margin-left: auto; /* 1 */
  }
  
  
  /* -------------------------------------------------------------------------- *\
   * [Theming] .c-article-tile
   * -------------------------------------------------------------------------- */
  
  .c-article-tile.t-sass,
  .c-article-tile.t-sass a {
    color: #c69;
  }
  
  .c-article-tile.t-svg,
  .c-article-tile.t-svg a {
    color: #2abc67;
  }
  
  .c-article-tile.t-web,
  .c-article-tile.t-web a {
    color: #2980b9;
  }
  
  
  /* -------------------------------------------------------------------------- *\
   * Global styles
   * -------------------------------------------------------------------------- */
  
  * {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body {
    margin: 20px;
    background-color: #EFEFEF;
  }
  
  .icon {
    width: 1em;
    height: 1em;
    fill: currentcolor;
    vertical-align: top;
  }
  .particles-js {
      position: inherit;
  }