.container {
	width: 80%;
	margin: 0 auto;
}

#particles-js
{
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #262626; */
}
/* Text Settings */
.header h1 {
  padding: 350px;
  font-family: 'tradegothiclt-bold', sans-serif;
  font-size: 5em;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.header {
  height: 55.5em;
}
/* Typing Cursor */
.header span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}
/* Animation */
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
